[package]
name = "nestforge-core"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }

[dependencies]
anyhow = { workspace = true }
thiserror = { workspace = true }